<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait" src="/img/yuval.png">
        <p>This site is created by Yuval Mashraki.</br>It uses data from openweather.com and mapbox.com</p>
    </div>

    {{>footer}}
</body>

</html>